<div id="<%= dom_id ally %>">
  <p>
    <strong>First name:</strong>
    <%= ally.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= ally.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ally.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= ally.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= ally.twitter %>
  </p>

  <p>
    <strong>user_id:</strong>
    <%= ally.user %>
  </p>

</div>
